.button {
  // display: block;

  font-family: $font-family;
  font-size: $font-size--middle - 2;
  line-height: $font-size--middle + 1;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: $yellow-pink;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $burnt-sienna;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: 1169px) {
  .button {
    font-size: $font-size--middle - 4;
    line-height: $font-size--middle - 2;
    letter-spacing: 2px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .button {
    padding: 19px 40px;

    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
