.feedback {
  width: 382px;
  min-height: 307px;
  margin: 0;
  margin-top: -1px;
  padding: 30px 30px 30px 30px;

  font-family: $font-family;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: transparentize($text-dark, 0.3);
  letter-spacing: -0.408333px;

  background-color: $white;
}

.feedback__title {
  position: relative;

  display: block;
  margin: 0;
  margin-bottom: 33px;

  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
  color: $text-dark;
  letter-spacing: -0.691667px;

  &::after {
    content: "";

    position: absolute;
    bottom: -12px;
    left: 0;

    width: 68px;
    height: 0.73px;

    background-color: $yellow-pink;
  }
}

.feedback__text {
  margin: 0;
  margin-bottom: 31px;
}

.feedback__author-wrapper {
  display: flex;
  align-items: center;
}

.feedback__author-img {
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 16px;

  border-radius: 50%;
}

.feedback__author {
  margin-top: 5px;

  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  color: $text-dark;
  letter-spacing: -1.2px;
}

@media (max-width: 767px) {
  .feedback {
    width: 268px;
    padding: 32px 20px 30px 20px;
  }

  .feedback__title {
    margin-bottom: 33px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &::after {
      left: 81px;
    }
  }

  .feedback__text {
    margin-bottom: 16px;

    text-align: center;
  }

  .feedback__author-wrapper {
    flex-direction: column;
  }

  .feedback__author-img {
    margin-right: 0;
    margin-bottom: 6px;
  }
}
